
body {
	background-color: #AAE0E0;
	overflow: hidden;;
}

.map {
	width:100%;
	height:100vh;
	max-width:100%;
	max-height:100vh;
	box-sizing:border-box;
	display:flex;
	align-items:center;
	justify-content:center;
}


/*.point {
	border-radius: 500px;
	position: absolute;
	background-color: #08f5ff;	
	width: 20px;
	height: 20px;
}*/


.point:hover {
	background: white;
	-webkit-box-shadow: 0px 5px 40px -10px pink;
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

.japan {


	border-radius: 500px;
	position: absolute;
	background-color: #C0F7FF;	
	width: 20px;
	height: 20px;
	top: 480px;
	left: 1190px;
	z-index: 2;


        			
/*}


.japan {
 background: white;
  position: absolute;
  width: 200px;
  height: 30px;
  top: 440px;
  left: 1250px;
  transition: width ease 1s;                 
}


.japan.active {
  width: 200px;
  height: 200px;
  background-image: linear-gradient(to left, #ff6c82,#090028);
  z-index: 1; */


}

.egypt {

	border-radius: 500px;
	position: absolute;
	background-color: #C0F7FF;	
	width: 20px;
	height: 20px;
	top: 510px;
	left: 870px;
	z-index: 2;
}

.brazil {

	border-radius: 500px;
	position: absolute;
	background-color: #C0F7FF;	
	width: 20px;
	height: 20px;
	top: 650px;
	left: 670px;
	z-index: 2;
}

.china {

	border-radius: 500px;
	position: absolute;
	background-color: #C0F7FF;	
	width: 20px;
	height: 20px;
	top: 500px;
	left: 1140px;
	z-index: 2;	
}

.florida {

	border-radius: 500px;
	position: absolute;
	background-color: #C0F7FF;	
	width: 20px;
	height: 20px;
	top: 510px;
	left: 555px;
	z-index: 2;
}

h1. {
	font-family: futura;
	font-style: medium;
	font-weight: lighter;
	font-size: 20px;
	color: white;
	z-index: 2;
}

/* statistics */

.stats {/*
	width: 300px;
	height: 400px;*/
	display:none;
	position: absolute;
}

.stats.active {
	display:block;
	transition:3s;
}

.container-japan{
    width: 15vw;
    position: absolute;
    top: 300px;
    z-index: 2;
    left: 1250px;

}

.container-egypt{
    width: 3vw;
    position: absolute;
    top: 100px;
    z-index: 2;
    left: 870px;
    top: 530px;

}

.container-brazil{
    position: absolute;
    top: 200px;
    z-index: 2;
    left: 700px;
    top: 400px;
}

.container-brazil{
    position: absolute;
    top: 200px;
    z-index: 2;
    left: 520px;
    top: 570px;
}

.container-china{
	width:5vw;
    position: absolute;
    top: 200px;
    z-index: 2;
    left: 980px;
    top: 200px;
}


.container-usa{
	width:10vw;
    position: absolute;
    top: 200px;
    z-index: 2;
    left: 400px;
    top: 200px;
}


.flag {
	width:150px;
	box-sizing:border-box;


}

.country-title {
	font-family: bebas-kai;
	font-size: 28px;
	letter-spacing: 4px;
	color: white;
}

.number-affected-j {
	font-family: bebas-kai;
	font-size: 90px;
	letter-spacing: 4px;
	color: white;
	position: absolute;
	text-align: center;
	top: 100px;
	left:30px;

}

.number-affected-e {
	font-family: bebas-kai;
	font-size: 90px;
	letter-spacing: 4px;
	color: white;
	position: absolute;
	text-align: center;
	top: 100px;
	left:55px;

}

.number-affected-b {
	font-family: bebas-kai;
	font-size: 90px;
	letter-spacing: 4px;
	color: white;
	position: absolute;
	text-align: center;
	top: 100px;
	left:27px;

}

.number-affected-c {
	font-family: bebas-kai;
	font-size: 90px;
	letter-spacing: 4px;
	color: white;
	position: absolute;
	text-align: center;
	top: 120px;
	left:7px;

}

.number-affected-u {
	font-family: bebas-kai;
	font-size: 90px;
	letter-spacing: 4px;
	color: white;
	position: absolute;
	text-align: center;
	top: 110px;
	left:35px;

}

.affected-text {
	font-family: bebas-kai;
	font-size: 20px;
	letter-spacing: 2px;
	color: white;
	top:260px;
	text-align: center;
	position: absolute;


}

}
canvas{
	position:absolute;
	top:50px;
	left:0;

}

#canvas {
	position: absolute;
	top: 50px;
	width:100vw;
	opacity: 50%;

}

#container{	
	overflow:hidden;
	position: absolute;
	top: 50px;
	float:right;
	width:100px;
	height:calc(100vh);
}
#level{
	position:absolute;
	margin:0px 1px;
	top:calc(50% - 50px);
	left:calc(60px - 50vh);
	width:calc(100vh - 100px);
	height:10px;
	background-color:white;
	-webkit-appearance: none
	-webkit-transform:rotate(-90deg);       
	-moz-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
	transform:rotate(-90deg);

}

.switch {
	display: none;
}



/*.osaka {
	top:50px;
	max-height: 350px;
	left: 1300px;
  

}

.alexandria {

    top: 50px;
    left: 650px;
   max-height: 350px;
}

.rio {
	position: relative;
	top: -1025px;
	left: 700px;
	width:250px;
}

.shanghai {
	position: relative;
	top: -700px;
	left: 890px;
	width:250px;
}

.miami {
	position: relative;
	top: -2000px;
	left:300px;
	width:250px;
}*/



